/* los media queries definen qué atributos se seleccionaran dependiendo del tamaño de
ancho del dispositivo, en general hay 4 breakpoints, smartphone tablet vertical, horizontal
y pc */

/* ------------------------------------------------------------------------ */
/* ----------------- SMALL PHONES ----------------------------------------- */
/* ------------------------------------------------------------------------ */

/* en esta sección se aplicará cuando el ancho de la pantalla sea menor o igual
a 480*/
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0px;
  }

  .contact-form {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------ */
/* ----------------- SMALL PHONES TO SMALL TABLETS ------------------------ */
/* ------------------------------------------------------------------------ */

/* valor por el hecho de que la pantalla del ipad es de 768 en vertical */
@media only screen and (max-width: 767px) {
  body {
    font-size: 50%;
  }

  section {
    padding: 30px 0px;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    /* para que las columnas no esten a los lados y ocupen todo el espacio */
    width: 100%;
    margin: 0% 0% 4% 0%;
  }

  .main-nav {
    display: none;
  }

  h1 {
    font-size: 180%;
  }

  h2 {
    font-size: 150%;
  }

  .long-copy {
    width: 100%;
    margin-left: 1px;
  }

  .works-step {
    margin-bottom: 20px;
  }

  .works-step:last-child {
    margin-bottom: 20px;
  }

  .works-step div {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    padding: 4px;
    font-size: 110%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 40%;
  }
}

/* ------------------------------------------------------------------------ */
/* ----------------- SMALL TABLETS TO BIG TABLETS ------------------------ */
/* ------------------------------------------------------------------------ */

/* valor por el hecho de que la pantalla del ipad es de 1024 en horizontal */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px px;
  }

  .long-copy {
    width: 80%;
    margin: 0px 10%;
  }

  .steps-box {
    margin-top: 10px;
  }

  .steps-box:last-child {
    margin-top: 10px;
  }

  .work-step {
    margin-bottom: 40px;
  }

  .work-step:last-child {
    margin-bottom: 60px;
  }

  .icon-small {
    width: 15px;
    margin-right: 5px;
  }

  .city-feature {
    font-size: 90%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  .plan-price {
    font-size: 250%;
  }

  .contact-form {
    width: 80%;
  }
}

/* ------------------------------------------------------------------------ */
/* ----------------- BIG TABLETS TO 1200px ------------------------ */
/* ------------------------------------------------------------------------ */

/* valor por el hecho de que el ancho de la pag web se definió como 1140px por estándar */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 95%;
    padding: 0px 2px;
  }

  .row {
    padding: 0px 2px;
  }
}
