/* 
Inline elements:

respect left & right margins and padding, but not top & bottom
cannot have a width and height set
allow other elements to sit to their left and right.
see very important side notes on this here.


Block elements:

respect all of those
force a line break after the block element
acquires full-width if width not defined


Inline-block elements:

allow other elements to sit to their left and right
respect top & bottom margins and padding
respect height and width

https://www.w3schools.com/cssref/pr_class_display.asp

*/

/* ------------------------------------------------------------------------ */
/* ----------------- BASIC SETUP ------------------------------------------ */
/* ------------------------------------------------------------------------ */

* {
  font-family: "Oxygen", sans-serif;

  /* importantes para iniciar cualquier doc html, sin embargo hay docs que dicen 
    que impacta en el desempeño, investigar, boxsizing por el lecture de boxing*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  /* el weigth define el ancho de la línea que crea la letra, y el text rendering el 
    tipo de renderizado del texto para hacerlo más legible o que se cree más rápido*/
  font-weight: 200;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  /* para la renderización a 500px para que el texto no se salga por el eje horizontal */
  overflow-x: hidden;
}

/* ------------------------------------------------------------------------ */
/* ----------------- REUSABLE COMPONENTS ---------------------------------- */
/* ------------------------------------------------------------------------ */

.row {
  /* 1140px wide grid is being displayed perfectly on all screens that are 1280 pixels wide.
 Due to its responsiveness it works correctly on smaller screen resolutions.
  En pocas palabras es el estándar del RWD, es el único atributo que tendrá un valor preestablecido */
  max-width: 1140px;

  /* esto es similar a margin 0 auto 0 auto*/
  margin: 0px auto;
}

section {
  padding: 80px 0px;
}

.box {
  padding: 1%;
}

/* en la sección de las fotos se necesita aplicar esta clase dado que hubo un float */
.clear-fix {
  zoom: 1;
}
.clear-fix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0px;
  visibility: hidden;
}

/* ------------------------------------------------------------------------ */
/* ----------------- HEADINGS --------------------------------------------- */
/* ------------------------------------------------------------------------ */

h1,
h2,
h3 {
  /* Se cambia el ancho de la línea por los lineamientos de diseño de tipografía */
  font-weight: 200;
  /* Para cambiar el headline a mayúsculas y el espacio entre letras y palabras */
  text-transform: uppercase;
}

h1 {
  /* el normalize.css le agrega un margen que no se requiere en este elemento, por lo tanto se remueve */
  margin-top: 0px;
  /* para separar el headline de los botones*/
  margin-bottom: 20px;
  color: white;
  /* Los porcentajes relativos son en relación al tamaño base del texto definido en el html */
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 2px;
}

h2 {
  font-size: 180%;
  /* alinea el texto dentro del contenedor */
  text-align: center;
  word-spacing: 3px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* estilo que se aplicará después que se haya renderizado en elemento base. Siempre
que haya un after hay que especificarle un contenido, y en este caso no se quiere
algún texto entonces se coloca un content: " " */
h2::after {
  /* convertirlo en un elemento de bloque, ponerle un display block */
  display: block;
  /* el height es importante para que funcione, a mi parecer crea un div con
    todos estos estilos sin que exista como tal en html.*/
  height: 2px;
  background-color: #ff9800;
  content: " ";
  width: 100px;
  margin: 30px auto 30px auto;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------------------------------------------------------------------------ */
/* ----------------- HEADER --------------------------------------------- */
/* ------------------------------------------------------------------------ */

header {
  /* El background image es para poner una imagen de fondo dentro del elemento al
    que se apunta. el linear-gradient sirve para ponerle un shade a la imagen sobrepuesta
    que ayuda a que la imagen se oscurezca */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/hero.jpg);
  /* para que la imagen se despliegue correctamente dentro del viewport */
  background-size: cover;
  background-position: center;
  /* Para que la imagen ocupe todo el viewport hay que ponerle todo el height para que aparezca de la altura
    de todo el tamaño del dispositivo */
  height: 100vh;
  /* sirve para poner la imagen estática y añadir un bonito efecto al hacer scrolling*/
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-text-box {
  /* Se pone absoluto porque es la única manera de centrarlo horizontal y verticalmente */
  position: absolute;
  width: 1140px;
  /* Lo siguiente es para ponerlo de manera absoluta en el centro, el transform con translate
    para trasladar el elemento la mitad de su altura y anchura hacia donde se indique con los signos
    Ésto centra el texto en la ventana de manera absoluta.  */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  /* Estilos del logo para que tenga una altura determinada y el ancho sea 
    desplegado automáticamente */
  height: 100px;
  width: auto;
  /* el float despliega un elemento a la derecha o izquierda dentro del elemento padre */
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

.main-nav {
  float: right;
  /* esto elimina el estilo predeterminado de los bullet points */
  list-style-type: none;
  margin-top: 38px;
}

.main-nav li {
  /* display inline block para que los elementos se comporten como bloques que no hacen
    un breakspace y estén uno al lado del otro y se le da un márgen para el estilo */
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 85%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.4s;
}

.main-nav li a:hover {
  border-bottom: 2px solid #ff9800;
}

/* ------------------------------------------------------------------------ */
/* ----------------- PARAGRAPHS ------------------------------------------- */
/* ------------------------------------------------------------------------ */

.section-features .long-copy {
  margin-bottom: 35px;
}

.long-copy {
  /* Por el guideline del typography para hacer separación entre líneas */
  line-height: 145%;
  /* Como el texto supera el número de palabras por renglón en los guidelines, se hace
    que el ancho del texto sea de 70%, sin embargo se hace un truco para que se centre
    con márgenes porcentuales en base al valor del ancho */
  width: 70%;
  margin: 0px 15%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ------------------------------------------------------------------------ */
/* ----------------- BUTTONS ---------------------------------- */
/* ------------------------------------------------------------------------ */

/* se ponen clases dobles en algunos elementos para poner estilos globales y la segunda es para definir
el estilo individual de cada elemento */

/* pseudoclasses, como se ve en función a algún estado y en este caso se maneja
para que no haya cambio de estilos si esta normal o si ha sido clickeado */
.btn:link,
.btn:visited,
input[type="submit"] {
  /* el inline block es como un elemento inline pero puede tener padding y margen, éste no forza un
    linebreak pero se puede poner margen y padding no como un elemento bloque */
  display: inline-block;
  /*  padding: (top-bottom) (left-right)*/
  padding: 10px 30px;
  font-weight: 300;
  /* para quitar la decoración de los vínculos */
  text-decoration: none;
  border-radius: 200px;
  /* efecto de animación de transición y el tiempo en el que ocurre */
  transition: background-color 0.4s, border 0.4s, color 0.4s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #ff9800;
  color: white;
  border: 1px solid #ff9800;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  /* este btn al principio es más grande que el principal porque en un elemento
    bloque el width y height es el contenido más el padding y el borde, por
    lo tanto el contenido es el que marca la diferencia aquí. */
  color: #ff9800;
  border: 1px solid #ff9800;
}

/* los botones en css pueden tener diferentes estados: link, visited
active y hover, link es normal*/
.btn:hover,
.btn:active {
  background-color: #ef6c00;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #ef6c00;
  color: white;
  border: 1px solid #ef6c00;
}

.btn-ghost:hover,
.btn-ghost:active {
  /* este btn al principio es más grande que el principal porque en un elemento
    bloque el width y height es el contenido más el padding y el borde, por
    lo tanto el contenido es el que marca la diferencia aquí. */
  color: white;
  border: 1px solid #ff9800;
}

/* ------------------------------------------------------------------------ */
/* ----------------- ICONS ------------------------------------------------ */
/* ------------------------------------------------------------------------ */

/* como el icono es una fuente se puede redimensionar su tamaño con fontsize
y se pone en bloque para forzar un salto de línea */
.icon-big {
  font-size: 350%;
  display: block;
  color: #ff9800;
  margin-bottom: 10px;
}

.icon-small {
  /* para poder ponerle width */
  display: inline-block;
  width: 30px;
  /* centrados dentro del bloque inline */
  text-align: center;
  color: #ff9800;
  font-size: 120%;
  margin-right: 10px;
  /* secreo para alinear texto e íconos */
  line-height: 120%;
  vertical-align: middle;
  /* con márgen negativo para que se quite espacio*/
  margin-top: -5px;
}

/* ------------------------------------------------------------------------ */
/* ----------------- MEALS ------------------------------------------------ */
/* ------------------------------------------------------------------------ */

.section-meals {
  padding: 0px;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  /* Es importante el display block */
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  /* Con esto tendrá el 100% del ancho del elemento padre, en este caso, por la
    regla anterior, es cada 25% de la pantalla */
  width: 100%;
  margin: 0%;
  /* para cuando la imagen haga zoom con el efecto de transform en hover, esto evita
    que la imagen restante se salga del contenedor */
  overflow: hidden;
  /* se le pondrá un background negro para que cuando se haga un hover la imagen
    pierda opacidad, cosa que en fondo blanco la opacidad es blanca*/
  background-color: black;
}

.meal-photo img {
  /* asegura que la imagen sea exactamente tan ancha como su contenedor, este atributo
    es el que finalmente redimensiona la imagen final */
  width: 100%;
  height: auto;
  /* para hacer un efecto de transición cuando se hace un hover */
  transform: scale(1.15);
  /* para hacer la opacidad de la imagen */
  opacity: 0.65;
  transition: transform 0.4s, opacity 0.4s;
}

.meal-photo img:hover {
  /* transforma el elemento haciéndolo crecer en proporción del parámetro de
    scale, el .03 es porque queda una línea blanca entre los ul's (?) */
  transform: scale(1.03);
  opacity: 1;
}

/* ------------------------------------------------------------------------ */
/* ----------------- HOW IT WORKS ----------------------------------------- */
/* ------------------------------------------------------------------------ */

.section-steps {
  background-color: #e7e7e7;
}

/* con esto se selecciona el primer elemento que contenga el class mencionado */
.steps-box:first-child {
  /* este no funciona solo para texto, tambien para todos los elementos inline o
    inline block */
  text-align: right;
  /* para mantener el rwd */
  padding-right: 3%;
  margin-top: 30px;
}

/* pseudo clases para seleccionar el último elemento que tenga esa clase*/
.steps-box:last-child {
  /* para mantener el rwd, entonces dentro de ambas columnas definidas el izquierdo
    empuja a la derecha y viceversa */
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #ff9800;
  border: 2px solid black;

  /*Inlineblockparaqueloselementosnoforcenunlinebreakyesténunladodeltexto,sinembargosaleunwarningalflotarloalaizquierdadondeeldisplayseignora*/
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ------------------------------------------------------------------------ */
/* ----------------- CITIES ----------------------------------------------- */
/* ------------------------------------------------------------------------ */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin-bottom: 10px;
}

.city-feature a:link,
.city-feature a:visited {
  text-decoration: none;
  color: #555;
  border-bottom: 1px solid #ff9800 transparent;
  padding-bottom: 1px;
  transition: border-bottom 0.5s, color 0.5s;
}

.city-feature a:hover,
.city-feature a:active {
  color: #ff9800;
  border-bottom: 1px solid #ff9800;
}

/* ------------------------------------------------------------------------ */
/* ----------------- TESTIMONIALS ----------------------------------------- */
/* ------------------------------------------------------------------------ */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../assets/back-customers.jpg);
  background-size: cover;
  color: white;
  /* efecto de la imagen estática como background */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  /* Secuencia de escape para poner un caracter especial con css */
  content: "\201C";
  font-size: 500%;
  display: block;
  /* cuando se hace un elemento con una posicion absoluta, su padre tiene que ser
    relativa */
  position: absolute;
  /* posición absoluta con referencia al elemento que lo contiene. */
  top: -5px;
  left: -5px;
}

cite {
  display: block;
  font-size: 90%;
  margin-top: 25px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
  /* para alinear la imagen con el texto */
  vertical-align: middle;
}

/* ------------------------------------------------------------------------ */
/* ----------------- HOW IT WORKS ----------------------------------------- */
/* ------------------------------------------------------------------------ */

.section-plans {
  background-color: #e7e7e7;
}

.plan-box {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  /* para centrarlo dentro del elemento padre 5% ya que es la mitad del porciento
    restante del width, 5 izq y 5 der*/
  margin-left: 5%;
  margin-right: 5%;
  /* sombra de la caja para añadir un efecto*/
  box-shadow: 0 2px 2px #cccccc;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e0dfdf;
}

.plan-box div:first-child {
  /* color para que resalte un poco más el diseño*/
  background-color: #f5f5f5;

  /* al cambiar el estilo del primer div los bordes que se definieron en el 
    padre se eliminan, por lo tanto aquí se vuelven a declarar*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  /* manera de hacer un selector y alinear los botones */
  text-align: center;
  border: none;
}

.plan-price {
  font-size: 300%;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ff9800;
}

.plan-price span {
  /* el font size es en base al tamaño de fuente del elemento padre que, en este caso,
    es 200%; */
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box li {
  padding: 5px 0px;
}

/* ------------------------------------------------------------------------ */
/* ----------------- CONTACT FORM ----------------------------------------- */
/* ------------------------------------------------------------------------ */

.contact-form {
  /* esto centrará el elemento dentro del elemento padre*/
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

textarea {
  height: 140px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0px;
}

/* pseudoclase que se aplica cuando un elemento tiene el focus del usuario.
El wey lo puso en none, pero a mí me gustó el efecto que crea con el color base de la
paleta de colores */
*:focus {
  outline-color: #ff9800;
}

/* ------------------------------------------------------------------------ */
/* ----------------- FOOTER ----------------------------------------- */
/* ------------------------------------------------------------------------ */

footer {
  background-color: #2e2e2e;
  padding: 45px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: none;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  color: lightgray;
  text-decoration: none;
  border: 0;
  padding-bottom: 1px;
  transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ff9800;
}

.social-links li a ion-icon {
  font-size: 120%;
  transition: color 0.5s;
}

.social-links li a ion-icon[name="logo-facebook"]:hover,
.social-links li a ion-icon[name="logo-facebook"]:active {
  color: #3b5998;
}

.social-links li a ion-icon[name="logo-twitter"]:hover,
.social-links li a ion-icon[name="logo-twitter"]:active {
  color: #1da1f2;
}

.social-links li a ion-icon[name="logo-googleplus"]:hover,
.social-links li a ion-icon[name="logo-googleplus"]:active {
  color: #db4437;
}

.social-links li a ion-icon[name="logo-instagram"]:hover,
.social-links li a ion-icon[name="logo-instagram"]:active {
  color: #c32aa3;
}

footer p {
  color: #888888;
  text-align: center;
  font-size: 80%;
  margin-top: 30px;
}
